<%# locals: (balance_sheet:, period:) %>

<% series = balance_sheet.net_worth_series(period: period) %>

<%= render DS::Dialog.new(variant: "modal", width: "xl", auto_open: false, id: "net_worth_fullscreen_dialog") do |d| %>
  <% d.with_header title: t("pages/dashboard/net_worth_chart.title"), subtitle: "Expanded view" %>
  <% d.with_body do %>
    <div class="px-4 pb-4">
      <div class="w-[92vw] max-w-[1400px] h-[80vh] mx-auto">
        <div
          id="netWorthChartFullscreen"
          class="w-full h-full"
          data-controller="time-series-chart"
          data-time-series-chart-data-value="<%= series.to_json %>"></div>
      </div>
    </div>
  <% end %>
<% end %>

