<%# locals: (clear_filter_url_builder: nil, clear_all_url: nil) %>
<div class="flex items-center justify-between gap-2 mb-4">
  <ul id="transaction-search-filters" class="flex items-center flex-wrap gap-2">
    <% @q.reject { |key| key == "amount_operator" }.each do |param_key, param_value| %>
      <% unless param_value.blank? %>
        <% if param_key == "amount" %>
          <% amount_operator = case @q[:amount_operator]
                               when "equal"
                                 t(".equal_to")
                               when "greater"
                                 t(".greater_than")
                               when "less"
                                 t(".less_than")
                               else
                                 t(@q[:amount_operator])
                               end %>
          <% clear_url = clear_filter_url_builder ? clear_filter_url_builder.call("amount", "#{amount_operator} #{param_value}") : clear_filter_transactions_path(param_key: "amount", param_value: "#{amount_operator} #{param_value}", **request.query_parameters) %>
          <%= render partial: "transactions/searches/filters/badge", locals: { param_key: "amount", param_value: "#{amount_operator} #{param_value}", clear_url: clear_url } %>
        <% else %>
          <% Array(param_value).each do |value| %>
            <% clear_url = clear_filter_url_builder ? clear_filter_url_builder.call(param_key, value) : clear_filter_transactions_path(param_key: param_key, param_value: value, **request.query_parameters) %>
            <%= render partial: "transactions/searches/filters/badge", locals: { param_key: param_key, param_value: value, clear_url: clear_url } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </ul>

  <% if @q.present? %>
    <% resolved_clear_all_url = clear_all_url || transactions_path(clear_filters: true, per_page: params[:per_page].presence) %>
    <%= render DS::Link.new(
      text: "Clear all",
      variant: "ghost",
      icon: "x",
      href: resolved_clear_all_url,
      data: { turbo_frame: "_top" }
    ) %>
  <% end %>
</div>
